{% extends "layout.html" %}

{% block title %}
Chai Detail Page
{% endblock %}


{% block content %}
    <h1 class="bg-blue-900 text-3xl">Chai detail page</h1>

    <div class="w-96 bg-blue-400 mx-auto mt-4 grid grid-cols-1 place-items-center p-3">
        <div>
            <img src="{{chai.image.url}}" alt=""class="rounded-lg shadow-xl">
        </div>


        <div class="grid place-items-center">
            <h2 class="text-2xl font-semibold">{{chai.name}}</h2>
            <div class="grid place-items-center mt-2">
                <h3 class="text-lg text-black font-bold bg-orange-500 px-4 py-1 rounded-sm">{{ chai.price }}</h3>
            </div>

            <p class="font-semibold mt-4">
                {{chai.description}}
            </p>
        </div>
    </div>


    <div class="flex justify-center mt-4">
        <a href="/chai">
            <button class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Back to home</button>
        </a>
    </div>
{% endblock %}